@use 'variables' as *;

// List Icons
// -------------------------

.#{$xi-css-prefix}-ul {
  padding-left: 0;
  margin-left: $xi-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$xi-css-prefix}-li {
  position: absolute;
  left: -($xi-li-width);
  width: $xi-li-width;
  top: calc(2em / 14);
  text-align: center;
  &.#{$xi-css-prefix}-lg {
    left: -($xi-li-width) + calc(4em / 14);
  }
}
