$xi-css-prefix:       'xi';
$xi-border-color:     #eee !default;
$xi-li-width:         (30em / 14) !default;

@import "larger";
@import "mixins";
@import "spinning";
@import "rotated-flipped";
@import "fixed-width";
@import "list";
@import "bordered-pulled";