{# license.twig #}
{% extends "layout.twig" %}

{% block subHeader %}
<h2 class="sub-header-tit">LICENSE</h2>
<div class="sub-header-content">
    <p class="sub-header-txt">XEIcon은 LGPL을 따릅니다. 영리적인 목적의 사용이나 추가 및 개선을 하여도 무방합니다.<br>단, 저작자가 제공하는 소스를 수정하는 경우에는 동일한 공개방침을 적용할 의무가 있습니다.</p>
</div>
<img src="assets/img/img_license.png" class="sub-spot-img">
{% endblock %}

{% block page %}
<div class="container sub-contents-container">
    <div class="sub-section sub-license">
        <h3 class="sub-section-tit">글꼴 라이선스(Font License)</h3>
        <hr class="half-rule">
        <ul title="한글 상세 정보" class="info_txt_lst">
            <li class="info_txt">다음 디렉토리에 있는 모든 데스크톱 및 웹폰트 파일에 적용: <span class="box_txt">XEIcon/fonts</span></li>
            <li class="info_txt">라이선스: SIL OFL 1.1</li>
            <li class="info_txt">URL: <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></li>
        </ul>
        <ul title="영문 상세 정보" class="info_txt_lst">
            <li class="info_txt">Applies to all desktop and webfont files in the following directory : <span class="box_txt">XEIcon/fonts</span></li>
            <li class="info_txt">License: SIL OFL 1.1</li>
            <li class="info_txt">URL: <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></li>
        </ul>
    </div>
    <div class="sub-section sub-license">
        <h3 class="sub-section-tit">코드 라이선스(Code License)</h3>
        <hr class="half-rule">
        <ul title="한글 상세 정보" class="info_txt_lst">
            <li class="info_txt">다음 디렉토리에 있는 모든 CSS 파일에 적용: <span class="box_txt">XEIcon/xeicon.css</span>, <span class="box_txt">XEIcon/xeicon.min.css</span>, <span class="box_txt">XEIcon/less</span>, <span class="box_txt">XEIcon/scss</span></li>
            <li class="info_txt">라이선스: MIT License</li>
            <li class="info_txt">URL: <a href="http://opensource.org/licenses/mit-license.html" target="_blank">http://opensource.org/licenses/mit-license.html</a></li>
        </ul>
        <ul title="영문 상세 정보" class="info_txt_lst">
            <li class="info_txt">Applies to all CSS files in the following directories: <span class="box_txt">XEIcon/xeicon.css</span>, <span class="box_txt">XEIcon/xeicon.min.css</span>, <span class="box_txt">XEIcon/less</span>, <span class="box_txt">XEIcon/scss</span></li>
            <li class="info_txt">License: MIT License</li>
            <li class="info_txt">URL: <a href="http://opensource.org/licenses/mit-license.html" target="_blank">http://opensource.org/licenses/mit-license.html</a></li>
        </ul>
    </div>
    <div class="sub-section sub-license">
        <h3 class="sub-section-tit">문서 사용허가 규정(Documentation License)</h3>
        <hr class="half-rule">
        <ul title="한글 상세 정보" class="info_txt_lst">
            <li class="info_txt">글꼴 또는 코드 라이선스에 포함되지 않은 모든 XEIcon 라이브러리 파일과 창작물에 적용</li>
            <li class="info_txt">라이선스: CC BY 4.0</li>
            <li class="info_txt">URL: <a href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank">http://creativecommons.org/licenses/by-sa/4.0</a></li>
        </ul>
        <ul title="영문 상세 정보" class="info_txt_lst">
            <li class="info_txt">Applies to all XEIcon project files that are not a part of the Font or Code licenses.</li>
            <li class="info_txt">License: CC BY 4.0</li>
            <li class="info_txt">URL: <a href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank">http://creativecommons.org/licenses/by-sa/4.0</a></li>
        </ul>
    </div>
    <div class="sub-section sub-license">
        <h3 class="sub-section-tit">브랜드 아이콘(Brand Icons)</h3>
        <hr class="half-rule">
        <ul title="한글 상세 정보" class="info_txt_lst">
            <li class="info_txt">모든 브랜드 아이콘은 해당 소유자의 상표입니다.</li>
            <li class="info_txt">브랜드 아이콘 사용은 XEIcon에 의해 상표 승인을 받았다는 것을 의미하지 않습니다.</li>
        </ul>
        <ul title="영문 상세 정보" class="info_txt_lst">
            <li class="info_txt">All brand icons are trademarks of their respective owners.</li>
            <li class="info_txt">The use of these trademarks does not indicate endorsement of the trademark holder by XEIcon, nor vice versa.</li>
        </ul>
    </div>
    <div class="sub-section sub-license last">
        <h3 class="sub-section-tit">라이선스 문의(License FAQ)</h3>
        <hr class="half-rule">
        <ul title="한글 상세 정보" class="info_txt_lst">
            <li class="info_txt">라이선스 문의사항은 깃허브 이슈에 남겨주시거나 메일로 문의바랍니다.</li>
            <li class="info_txt">XEIcon GitHub : <a href="https://github.com/xpressengine/XEIcon/issues" target="_blank">https://github.com/xpressengine/XEIcon/issues</a></li>
            <li class="info_txt">XEIcon e-mail : <a href="mailto:contact@xpressengine.com">contact@xpressengine.com</a></li>
        </ul>
    </div>
</div>
{% endblock %}